jupyterlab==4.0.2
matplotlib==3.7.1
numpy==1.26.1
pandas==2.0.2
seaborn==0.12.2
statsmodels==0.14.0
scikit-learn==1.2.2
pydot==1.4.2
#tensorflow
#tensorflow-macos==2.12.0
#tensorflow-metal==1.0.1
keras==2.12.0
transformers==4.30.2
protobuf==3.20.3
nltk==3.8.1
sentencepiece==0.1.99
ipywidgets==8.0.6
testbook==0.4.2
#tensorflow-hub==0.13.0
pmdarima==2.0.3
mne
drive
scipy
#re
cesium